/* Video background */
#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1; /* Ensure the video is behind the content */
  object-fit: cover; /* Ensures video covers the entire screen */
}

/* Transparent navbar */
.navbar {
  background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
  backdrop-filter: blur(10px); /* Optional: adds a blur effect to the background */
  z-index: 1000;
}

/* Main content */
.main-content {
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
  padding: 20px;
  margin-top: 70px; /* Ajuste para el navbar fijo */
  min-height: calc(100vh - 70px); 
}

/* Adjusting other styles for transparency */
.main-content h2, .main-content p {
  color: #fff; /* Ensure text is visible on transparent background */
}

.section {
  background: rgba(255, 255, 255, 0.8); /* Slightly transparent section background */
  padding: 20px; /* Ajusta el padding para mayor comodidad */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h3 {
  color: #007bff;
  margin-bottom: 15px;
}

.section p, .section ul {
  color: #555;
}

.section ul {
  padding-left: 20px;
}

.section ul li {
  list-style-type: disc;
  margin-bottom: 5px;
}

/* Footer */
footer {
  background-color: rgba(27, 27, 27, 0.8); /* Slightly transparent footer background */
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
