.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Mueve el video detrás de otros elementos */
}
.login-container {
  position: relative;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.login-box {
  background: rgba(7, 8, 8, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  max-width: 500px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.login-form {
  text-align: left;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.login-form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button,
.login-button:hover {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #0056b3;
}

.text-center {
  text-align: center;
}

.text-center p {
  margin: 0;
}

.router-link {
  color: #007bff;
  cursor: pointer;
}

.router-link:hover {
  text-decoration: underline;
}
