body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.registro-container {
  position: fixed;
  text-align: center;
  padding: 7.5%;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.registro-form {
  background: rgba(7, 8, 8, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  max-width: 500px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.registro-button,
.volver-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.registro-button:hover,
.volver-button:hover {
  background-color: #0056b3;
}

.volver-button {
  background-color: #6c757d;
}

.volver-button:hover {
  background-color: #5a6268;
}
footer {
  background-color: #1b1b1b;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}